

.contenedor-nosotros{
    display: flex;
    margin-right: 0;
    margin-left: 10%;
} 
.container.container-text{
    width: 30%;
    padding: 55px 0;
    margin-left: -50px;
    margin-right: 140px;
}
.container-img{
    
    height: 100%;
      
}
.wrapper{
    overflow: hidden;
}
.container-img img{
    transform: scale(1.3)  /*agrandar imagen*/ 
    
    
   
}